@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div ng-controller="fileBrowserCtrl as fbc">
    <div class="table-responsive">
        <table class="info-table">
            <thead>
                <tr>
                    <th>Less 10Mb</th>
                    <th>10Mb-50Mb</th>
                    <th>More 100Mb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{fbc.filesCountInfo.lessThan10Mb}}</td>
                    <td>{{fbc.filesCountInfo.between10MbAnd50Mb}}</td>
                    <td>{{fbc.filesCountInfo.moreThan100Mb}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="current-path"><strong>Current path:</strong>&nbsp{{fbc.currentDir}}</div>
    <div id="file-system-view">
        <a ng-show="fbc.parentDir != null" ng-click="fbc.getFilesByPath(fbc.parentDir)">..</a>
        <div ng-repeat="f in fbc.currentDirFiles">
            <a ng-if="f.IsDirectory" ng-click="fbc.getFilesByPath(f.FullName)">{{f.Name}}</a>
            <div ng-if="!f.IsDirectory">{{f.Name}}</div>
        </div>
    </div>
</div>
